@(user: Option[models.User])(implicit messages: Messages, webJarAssets: WebJarAssets)

@temp(user) {
    <div class="col-md-1"> </div>
    <form  action="" method="post" >
        <div class="col-md-8">

            <div class="form-group">
                <label for="InputName">Name </label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" pattern="[a-zA-Z]+" required>

                </div>

                <label for="InputName">Surname</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputName" id="InputSurname" placeholder="Enter Surname" pattern="[a-zA-Z]+" required>

                </div>
                </div>

            <div class="form-group">
                <label for="InputCity">City</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="InputCity" name="InputCity" placeholder="Enter City" pattern="[a-zA-Z]+" required  >

            </div>
                </div>

                <div class="form-group">
            <label for="InputEmail">Address</label>
            <div class="input-group">
                <input type="address" class="form-control" id="InputEmail" name="InputAdress" placeholder="Enter Street Address" pattern="[a-zA-Z0-9\s]+" required  >

            </div>
        </div>







            <div class="form-group">
                <label for="InputMessage">Message </label>
                <div class="input-group">
                    <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" ></textarea>


            </div>
                </div>


            <div class="form-group">
                <label for="delivery">Delivery</label>
                <div class="input-group">
                    <select class="form-control" name="delivery" id="delivery" required>
                        <option value="cash on delivery">cash on delivery</option>
                        <option value="Credit Card">Credit Card</option>


                    </select>


                </div>
            </div>






    </div>






    </form>

<br>
    <a href="/order" id="clean-basket" class="btn btn-info" role="button">Confirm</a>
    <hr class="featurette-divider hidden-lg">
}