@(products: Seq[Product], user: Option[models.User])(implicit messages: Messages, webJarAssets: WebJarAssets)

  @temp(user) {
    <div class="alert alert-success" id="passwordsNoMatchRegister"  >
      <strong> Dodano do koszyka wybrany produkt! </strong>
    </div>
  <div class="row">
    <h4 class="text-primary">Lista wszystkich dostępnych produktów: </h4>
  </div>
    <div class="row">

        <div class="table-responsive">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>Akcje</th>
                <th>Produkt</th>
                <th>Opis Produktu</th>
                <th>Cena</th>
                <th>Kategoria</th>
              </tr>
            </thead>
            <tbody>
            @for(p <- products){
              <tr>
                @user.map { u =>
                <td>
                  <button class="btn btn-default  button-add-to-cart glyphicon glyphicon-plus-sign" data-id="@p.ID"><span class=""></span></button>
                  <a href="/updateproduct/@p.ID" class="btn " role="button"><i class="glyphicon glyphicon-edit"></i></a>
                  <a href="/deleteproduct/@p.ID" class="btn  " role="button"><i class="glyphicon glyphicon-remove-circle"></i></a>
                </td>
                }.getOrElse {
                  <td>
                    <button class="btn   button-add-to-cart glyphicon glyphicon-plus-sign" data-id="@p.ID"><span class=""></span></button>
                    <a href="@routes.SignInController.view" class="btn" role="button"><i class="glyphicon glyphicon glyphicon-log-in"></i></a>
                  </td>
                }
                <td>@p.name</td>
                <td>@p.description</td>
                <td>@p.price</td>
                <td>@p.kat</td>




              </tr>
            }
            </tbody>
          </table>
        </div>


        @user.map { u =>
        <td>
          <a href="/createproduct" class="btn btn-danger" role="button"><i class="glyphicon glyphicon-plus-sign"> </i>  Add new product</a>
        </td>
        }.getOrElse {

        }



    </div>


  }

